.home .homeActive{
    background-color: #1c1c1c;
}
.contact .contactActive{
    background-color: #1c1c1c;
}
.about .aboutActive{
    background-color: #1c1c1c;
}
.service .serviceActive{
    background-color: #1c1c1c;
}
.guard .gurdActive{
    background-color: #1c1c1c;
}

